<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>DTO Credit Card Payment</span>
    <div class="spacer"></div>
</div>
<br><br><br><br><br><br>
<div class="wrapper">
  <div class="holder">
    <button  (click)="navigate()" tabindex="0" class="btn-register"><span class="register-text">Pay With Card</span></button>
   <br><br><br><br>
    <div class="card card-large" *ngIf="!hidden">
      <div class="table table-hover">
        <tbody>
            <tr>
              <td style="width: 70%;">Amount</td>
              <td style="width: 40%;">{{ cardDetails.amount }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Credit Card Number</td>
              <td>{{ cardDetails.creditCardNumber }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Card Holder</td>
              <td>{{ cardDetails.cardHolder }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Expiration Date</td>
              <td>{{ cardDetails.expirationDate| date: 'MM-YYYY' }} </td>
            </tr>
            <tr>
              <td  style="width: 70%;">Security Code/CVV</td>
              <td>{{ cardDetails.securityCode }} </td>
            </tr>
</tbody>
      </div>

    </div>
  </div>
  <br><br><br><br>

  <div class="view-container">
    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>

    <router-outlet></router-outlet>

    <div ng-view class="view-frame"></div>
  </div>
</div>
